/* ---
__John McCutchan
__Personal website.
Site built with Bootstrap.
CSS built using the Object Oriented CSS(OOCSS) technique.
Project built for NSS Dev Course.
--- */

/*--- Structure ---*/

p{
	letter-spacing: 1px;
}
.logo{
	width:120px;
	height:auto;
}
.mockup{
	width: 100%;
}
.navbar{
	margin-bottom: 0;
}
.img-width{
	width:100%;
	height:auto;
}
.top-margin{
	margin-top: 20px;
}
.top-padding{
	padding-top: 20px;
}
.margin-zero{
	margin:0;
	display: block;
}
.media{
	margin-top: 40px;
	padding-bottom: 30px;
}
.img-height{
	height:120px;
	width:auto;
}
.img-center{
	display: block;
	width:25%;
	margin:auto;
	padding-top: 20px;
}
.img-center-lg{
	display: block;
	height:190px;
	width:auto;
	margin:auto;
	padding-top: 20px;
}
.img-center-xlg{
	display: block;
	height:350px;
	width:auto;
	margin:auto;
	padding-top: 20px;
}
.img-ninety{
	display: block;
	width:96%;
	height: auto;
	margin:auto;
}
.rounded{
	border-radius: 10px;
}
.header{
	margin-left: 30px;
}
.parallax{ /*--- Parallax Image ---*/
	height: 500px;
}
.footer{
	height: 50px;
}
h4{
	line-height: 50px;
}
.media-object{
	width:64px;
	height: auto;
}


/*--- END Structure ---*/


/*--- Skin ---*/

body{
	background-color: black;
	color:rgba(189, 195, 199,1.0);
}
.navbar-default{
	background-image: none;
	background-color:rgba(192, 57, 43,1.0);
	border:none;
	border-radius:0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image: none;
	background-color:rgba(5, 44, 100, 1);
	color:rgba(255, 255, 255, 1);
}
.navbar-default .navbar-nav>li>a{
	color:rgba(255, 255, 255, 1);
	text-shadow: none;

}

.parallax{
	background-image: url("images/nashville-traffic.png");/* parallax image */
	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}
.parallax2{
	background-image: url("images/iraqbg.png");/* parallax image */   
	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}
.horizontal-line{
	border-top:1px solid rgba(41, 128, 185,1.0);
}
h1, h2, h3, h4{
	font-family: georgia;
	color:rgba(231, 76, 60,1.0);
}
.media{
	border-bottom: 2px solid;
}
.media:last-child{
	border:none;
}
.inset{
	border: 1px inset;
	padding-top: 5px;
}

/*--- END Skin ---*/







/*--- Break Point Styling ---*/

@media (max-width: 776px) {
	
	/*--- Structure ---*/

	.logo{
		width:70px;
		height:auto;
	}
	.parallax{
		height: 300px;
  		background-position: left top;
	  	background-repeat: no-repeat;
	  	background-attachment: initial;
	  	background-size: cover;
	}
	.header{
		margin-left:0px;
	}

	/*--- END Structure ---*/

}



