/* ---
__John McCutchan
__Personal website.
Site built with Bootstrap.
CSS built using the Object Oriented CSS(OOCSS) technique.
Project built for NSS Dev Course.
--- */

/*--- Structure ---*/

body{
	background-color: black;
	color:rgba(189, 195, 199,1.0);
}
.logo{
	width:120px;
	height:auto;
}
.mockup{
	width: 100%;
}
.navbar{
	margin-bottom: 0;
}
.img-width{
	width:100%;
	height:auto;
}
.top-margin{
	margin-top: 20px;
}
.img-center{
	display: block;
	width:25%;
	margin:auto;
	padding-top: 20px;
}
.jumbotron{ /*--- Parallax Image ---*/
	height: 500px;
  	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}
.footer{
	height: 150px;
}
h4{
	line-height: 150px;
}
.media-object{
	width:64px;
	height: auto;
}

/*--- END Structure ---*/


/*--- Skin ---*/

.navbar-default{
	background-image: linear-gradient(to bottom,rgba(241, 196, 15,1.0) 0,rgba(192, 57, 43,1.0));
	border:none;
	border-radius:0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
	background-image: linear-gradient(to bottom, #e2e2e2 0, rgba(211, 84, 0,1.0) 100%);
	color:rgba(41, 128, 185,1.0);
}
.navbar-default .navbar-nav>li>a{
	color:rgba(41, 128, 185,1.0);
}
.jumbotron{
	background-image: url("images/nashville-traffic.png");/* add parallax */
}
.horizontal-line{
	border-top:5px solid rgba(41, 128, 185,1.0);
}
/*--- END Skin ---*/







/*--- Break Points ---*/

@media (max-width: 776px) {
	
	/*--- Structure ---*/

	.logo{
		width:70px;
		height:auto;
	}
	.jumbotron{
		height: 300px;
  		background-position: left top;
	  	background-repeat: no-repeat;
	  	background-attachment: initial;
	  	background-size: cover;
	}

	/*--- END Structure ---*/

	/*--- Skin ---*/
	/*--- END Skin ---*/
}

/*rgba(18, 124, 180, 1)*/

